
<div class="d-flex flex-row" id="root">
  <div class="bg-white pt-5 px-5 sidebar">
    <h1 class="h2 fw-bold">Add new location</h1>
    <div>Have an account? <a href="/login">Sign in</a></div>
  </div>
  <div class="container main-content">
    <div class="d-flex justify-content-end">
      <img src="/images/pfizer.png" class="align-right" style="height: 70px; width: auto;" />
    </div>

    <h4 class="mt-5 pt-5 fw-bold mb-4">Choose location type</h4>
    <div class="d-flex flex-row options">
      <a href="/add_location" class="link-unstyled">
        <div class="card bg-white d-flex align-items-center p-5 cursor-pointer">
          <img src="/images/provider.png" class="img-fluid w-25 my-4" />
          <h5>Provider</h5>
          <p>
            Add a single provider location
          </p>
        </div>
      </a>
      <a href="/add_location" class="link-unstyled">
        <div class="card bg-white d-flex align-items-center p-5 cursor-pointer">
          <img src="/images/retailer.png" class="img-fluid w-25 my-4" />

          <h5>Retailer</h5>
          <p>
            Add a single retailer location
          </p>
        </div>
      </a>

      <a href="/add_location" class="link-unstyled">
        <div class="card bg-white d-flex align-items-center p-5 cursor-pointer">
          <img src="/images/multiple.png" class="img-fluid w-25 my-4" />

          <h5>Multiple locations</h5>
          <p>
            Add multiple locations
          </p>
        </div>
      </a>

    </div>
  </div>
</div>

